@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}

::selection {
    color: rgb(240, 224, 224);
    background: rgba(8, 165, 16, 0.937);
  }
  .active{
    font-weight:bold ;
    border-bottom: 2px solid rgb(29, 75, 71);
  }
  .error_page img{
    height: 90vh;
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
  }